h1 {
  font-family: 'Original Surfer', cursive;
  text-align: center;
  background-color: plum;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  font-size: 60px;
}
#form2 {
  text-align: center;
  font-family: 'Original Surfer', cursive;
  background-image: url("../img/pizza.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact {
  padding:20px;
  text-align: center;
  font-family: 'Original Surfer', cursive;
  font-size: 20px
}
textarea {
  text-align: left;
}
button{
  margin: 20px;
}